@import url("./streamer.css");
@import url("./list.css");

:root {
    --menu-width: 15vw;
    --search-menu-width: 13vw;
    --scrollbar-width: 8px;
}

::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
    background-color: #222222;
    box-shadow: inset 0 0 3px #444444;
    border-radius: var(--scrollbar-width);
    width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
    background-color: #383838;
    box-shadow: inset 0 0 3px #4b4b4b;
    border-radius: var(--scrollbar-width);
}

/* MENU */

body {
    margin: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #10002B;
    overflow-x: hidden;
}

.menu {
    background-color: #151515;
    width: var(--menu-width);
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    font-size: 1vw;
}

.logo {
    background-color: #333333;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > img {
    width: auto;
    height: 90%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.channel-list {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.channel-list h3 {
    color: #565559;
    font-weight: bold;
    margin: 15% 0 3% 0;
}

.channel-list span {
    cursor: pointer;
}

.add-more {
    color: #8C50BC;
    font-size: 100%;
}

.streamer-link {
    color: #e9ebf0;
    margin: 3% 6%;
}

.mini-profile-picture {
    width: 2vw;
    height: auto;
    border-radius: 100%;
}

.small-profile {
    display: flex;
    align-items: center;
    padding: 3%;
    text-decoration: none;
    width: 100%;
}

.small-profile:hover {
    background-color: #2a2430;
}

.dream-hidden {
    display: none;
}

/* CONTENT */

.content {
    width: 85vw;
    margin-left: var(--menu-width);
}

.search-menu {
    background-color: #20003e;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form, .search-btn {
    height: 1.5vw;
    cursor: pointer;
    margin-left: 0.5vw;
    border: black;
    border-radius: 0.5vw;
}

.search-form {
    display: flex;
    margin-right: 5vw;
}

.search-input {
    border-radius: 0.5vw;
    width: 20vw;
    height: 3.8vh;
    background-color: #7331a8;
    padding: 4px;
    box-sizing: border-box;
    border: black;
    color: white;
    transition: background-color 0.25s;
}

.search-btn {
    width: 2.5vw;
    height: 3.8vh;
    background-color: #9D4EDD;
}

.search-input::placeholder {
    color: #e5e5e5;
    opacity: 1;
    transition: opacity .12s;
}

.search-input:focus::placeholder {
    opacity: 0;
}

.search-input:not(:placeholder-shown) {
    background-color: #9D4EDD;
}

.is-live {
    border: medium solid #03cc03;
}
