@import url("./streamer.css");

:root {
    --menu-width: 14vw;
    --search-menu-width: 13vw;
}

/* MENU */

body {
    margin: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #10002B;
    overflow-x: hidden;
}

.menu {
    background-color: #240046;
    width: var(--menu-width);
    height: 100vh;
    position: fixed;
    overflow-y: hidden;
    font-size: 1vw;
}

.logo {
    background-color: #3F0C70;
    width: 100%;
    height: 10vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ChannelGroup {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.ChannelGroup h3 {
    color: #565559;
    font-weight: bold;
    margin: 5% 0 1% 0;
}

.ChannelGroup span {
    cursor: pointer;
}

.AddMore {
    color: #8C50BC;
    font-size: 100%;
}

.streamer-link {
    text-decoration: none;
    color: #e9ebf0;
    margin: 3% 6%;
}

/* CONTENT */

.content {
    width: 82vw;
    margin-left: var(--menu-width);
}

.search-menu {
    background-color: #20003e;
    width: 100vw;
    height: 10vh;
    overflow: hidden;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    border-radius: 0.5vw;
    width: 20vw;
    height: 3.8vh;
    background-color: #7331a8;
    padding: 4px;
    box-sizing: border-box;
    border: black;
    color: white;
    transition: background-color 0.25s;
}

.search-btn {
    border-radius: 0.5vw;
    width: 2.5vw;
    height: 3.8vh;
    margin-right: 5vw;
    margin-left: 0.5vw;
}

.search-input::placeholder {
    color: #e5e5e5;
    opacity: 1;
    transition: opacity .12s;
}

.search-input:focus::placeholder {
    opacity: 0;
}

.search-input:not(:placeholder-shown) {
    background-color: #9D4EDD;
}

form + button {
    border-radius: 0.5vw;
    width: 2vw;
    height: 1.5vw;
    background-color: #9D4EDD;
    border: black;
    cursor: pointer;
    margin-left: 0.5vw;
}

.AllStreamers {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 1vw;
    justify-content: space-evenly;
}

.AllStreamers > a {
    width: 19vw;
    height: 10vw;
    background-color: #350C63;
    border-radius: 1.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 1.8vw;
    cursor: pointer;
    text-decoration: none;
}

.streamer-information {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    height: 80%;
    justify-content: space-around;
    font-size: 1vw;
    color: #EAE8E6;
}

.StreamerName {
    font-weight: bold;
    width: 90%;
    overflow-wrap: break-word;
}

.StreamerBio {
    font-size: 90%;
    width: 90%;
    overflow-wrap: break-word;
}

.profile-picture {
    width: 6vw;
    height: 6vw;
    border-radius: 100%;
}
