/* MENU */

body {
    margin: 0;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #10002B;
    overflow-x: hidden;
}

.menu {
    background-color: #240046;
    width: 18vw;
    height: auto;
    font-size: 1vw;
}

.logo {
    background-color: #3F0C70;
    width: 100%;
    height: 5vw;
}

.menu span:not(.AddMore) {
    color: #e9ebf0;
    margin: 3% 6%;
}

.ChannelGroup {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.ChannelGroup h3 {
    color: #565559;
    font-weight: bold;
    margin: 5% 0 1% 0;
}

.ChannelGroup span {
    cursor: pointer;
}

.AddMore {
    color: #8C50BC;
    font-size: 100%;
}

/* CONTENT */

.content {
    width: 82vw;
}

.content > div:first-child {
    margin: 1.5vw;
}

#filter {
    border-radius: 0.5vw;
    width: 20vw;
    height: 1.5vw;
    background-color: #9D4EDD;
    border: black;
}

#filter + button {
    border-radius: 0.5vw;
    width: 2vw;
    height: 1.5vw;
    background-color: #9D4EDD;
    border: black;
    cursor: pointer;
}

.AllStreamers {
    width: 100%;
    display: flex;
    margin: 4vw;
    flex-wrap: wrap;
}

.AllStreamers > div {
    width: 17vw;
    height: 11vw;
    background-color: #350C63;
    border-radius: 1.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    margin: 2vw;
}

.StreamerDescription {
    display: flex;
    flex-direction: column;
    width: 8vw;
    align-items: center;
    height: 90%;
    justify-content: space-evenly;
    font-size: 1vw;
    color: #EAE8E6;
}

.StreamerName {
    font-weight: bold;
}

.StreamerBio {
    font-size: 90%;
    width: 90%;
    overflow-wrap: break-word;
}

.ProfilePic {
    width: 5vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #5A189A;
    border-radius: 100%;
}
