.streamer-real-list {
    display: flex;
    flex-wrap: wrap;
    margin: 5vh 3vw 5vh 0;
    justify-content: space-evenly;
}

.streamer-list {
    display: flex;
    width: 80vw;
    justify-content: flex-start;
    flex-direction: column;
}

@keyframes spawn-streamer {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.twitch-like-hover {
    width: 19vw;
    height: 11vw;
    padding: 1%;
    margin: 1.8vw;
}

.streamer {
    width: 100%;
    height: 100%;
    background-color: var(--card-color);
    border-radius: 1.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    transition:0.5s;
}

.twitch-like-hover:hover {
    transform:translate(5px,-5px);
}

.streamer:hover {
    box-shadow:-5px 5px var(--twitch-color);
}

.is-live:hover {
    box-shadow:-5px 5px var(--is-living-hover);
}

.streamer.animate {
    animation: spawn-streamer 1s forwards;
}

.load-more {
    display: flex;
    justify-content: center;
    margin-bottom: 4vw;
}

.load-more > button {
    background-color: var(--twitch-color);
    border: none;
    width: 10%;
    height: 2vw;
    color: white;
    border-radius: 1vw;
    font-size: 1vw;
}

.load-more > button:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.load-more > button:active {
    filter: brightness(85%);
    color: #eee;
}

.streamer-information {
    display: flex;
    flex-direction: column;
    width: 10vw;
    align-items: center;
    height: 80%;
    justify-content: space-around;
    font-size: 1vw;
    color: var(--almost-white);
}

.streamer-name {
    font-weight: bold;
    width: 90%;
    overflow-wrap: break-word;
}

.profile-picture {
    width: 6vw;
    height: 6vw;
    border-radius: 100%;
}

.streamer-bio {
    font-size: 90%;
    width: 90%;
    overflow-wrap: break-word;
}

.filter {
    color: #f7f7f8;
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: bold;
    margin: 2vw 2vw 0 2vw;
    font-size: 120%;
}

.filter select {
    background-color: #3e3e40;
    border: solid #3e3e40;
    border-radius: 0.5vw;
    color: #efeff1;
    margin-left: 0.5rem !important;
    width: 90px;
    height: 28px;
    font-size: 80%;
}

.filter select:hover {
    border: solid #5f5f61;
}

.filter select div {
    margin-top: 8px;
    right: 0;
}
