@import url('https://fonts.googleapis.com/css?family=Lobster');
.loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #350C63;
    z-index: 99;
}
.loading:after {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border: 6px solid #f2f2f2;
    border-top: 6px dotted #f2f2f2;
    border-bottom: 6px dotted #f2f2f2;
    border-radius: 50%;
    animation: loading 2s infinite;
}


@keyframes loading {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
}

.hide {
    display: none;
}
