.user-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-top: 50px;
    border-radius: 1em;
    background-color: var(--streamer-background-color);
    color: white;
    width: 90%;
}

.card {
    background-color: var(--card-color);
    border-radius: 0.5em;
    padding: 2em;
}

.sub-card, .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.user-layout {
    justify-content: space-between;
}

.user-layout > * {
    margin: 0 10%;
}

.user-important-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-important-infos .type {
    text-transform: capitalize;
}

.user-date-views {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-more-information {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.not-found {
    color: var(--not-found);
    font-size: 3em;
    text-align: center;
    margin-top: 15vh;
    letter-spacing: 1px;
}

.emotes {
    margin-top: 2vw;
}

.emote {
    margin: 0 0.5vw;
    position: relative;
    transform: scale(1);
    transition: all 0s ease-in-out;
}

.emote:hover {
    filter: drop-shadow(1px 1px 0 var(--twitch-color)) drop-shadow(-1px -1px 0 var(--twitch-color)) drop-shadow(1px -1px 0 var(--twitch-color)) drop-shadow(-1px 1px 0 var(--twitch-color)) drop-shadow(0 0 5px black);
    transform: scale(2);
    transition: all 0.3s ease-in-out;
    z-index: 200;
}

.profile-picture-streamer {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
    transition: transform .5s ease;
}

.profile-picture-streamer:hover {
    transform: scale(1.02);
}

.test-name {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
    transition: 0.25s;
}

.test-name:hover {
    transform: translate(5px, -5px);
    text-shadow: -5px 5px var(--twitch-color);
}