.user-informations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-top: 50px;
    border-radius: 1em;
    background-color: #350C63;
    color: white;
    width: 90%;
}

.card {
    background-color: #29084e;
    border-radius: 0.5em;
    padding: 2em;
}

.sub-card, .card {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.user-layout {
    justify-content: space-between;
}

.user-layout > * {
    margin: 0 10%;
}

.user-important-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.user-date-views {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-more-information {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.not-found {
    color: #bbb;
    font-size: 3em;
    text-align: center;
    margin-top: 15vh;
    letter-spacing: 1px;
}

.emotes {
    margin-top: 2vw;
}

.emotes-picture {
    margin: 0 0.5vw;
}

.profile-picture-streamer {
    width: 10vw;
    height: 10vw;
    border-radius: 100%;
}

.test-name {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.5vw;
}