{{define "streamer"}}
    <div>
        <div class="ProfilePic">
            <img src="{{.ProfileImageUrl}}" alt="{{.DisplayName}}">
        </div>
        <div>
            {{.DisplayName}}
        </div>
    </div>
    <div>
        {{.Description}}
    </div>
    <div>
        {{.ViewCount}}
        {{.CreatedAt}}
    </div>
{{end}}
